### Spring Boot / Application Config ###
src/main/resources/secrets.properties

# runtime data
mysql-data/
chroma-data/

### Logs ###
logs/
*.log

### IntelliJ IDEA / VSCode ###
.idea/
*.iml
.vscode/

### Build Artifacts ###
.gradle/
/build/
/out/
/target/
*.jar
*.war

### OS Files ###
.DS_Store
Thumbs.db

### Docker
.env
